.card {
  width: 50%;
  padding: 0 15px 15px 15px;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.cardBtn {
  border: none;
  background-color: transparent;
  color: blue;
  border-bottom: 1px solid blue;
}
